@import "./variables";


header{
    padding: 2rem;
    background-color:$My-Color-Theme-1;
    font-size: 2rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}